input, button, tr, td
    {behavior: url("/stylesheets/IEpseudo-class.htc");
    }
	
#BotonFind1
    {background-color:white;
    border:none;
	}	
	
#BotonFind1:hover, 	#BotonFind1.hover
  {background-image:url("/images/Findmo.gif");
    background-repeat:no-repeat;
    background-position:top center;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
    }
	
#BotonOK1:hover, 	#BotonOK1.hover
  {background-image:url("/images/OKmo.gif");
    background-repeat:no-repeat;
    background-position:top center;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
    }	